.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  padding: 0.5rem 0.75rem;
  text-align: center;
  font-size: 0.75rem;
  border: 0;
  border-radius: 9999px;
}

.nav-button:hover {
  background-color: var(--bg-hover);
}

.nav-button:active {
  background-color: var(--bg-active);
  transform: scale(0.95);
}

.dark .nav-button:hover {
  background-color: var(--dark-bg-hover);
}

.dark .nav-button:active {
  background-color: var(--dark-bg-active);
}

.active {
  background-color: var(--bg-inverse);
  color: var(--font-inverse);
}

.active:hover,
.active:active {
  background-color: var(--bg-inverse);
}

.nav-bar {
  grid-column: 2;
  justify-self: center;
}
