.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: scale 0.3s, box-shadow 0.3s;
    border: var(--border-color) solid 1px;
    background-color: var(--bg-color);
}

.card:hover {
    scale: 1.025;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
    .card {
        border: none;
        box-shadow: none;
        border-bottom: var(--border-color) solid 1px;
        border-radius: 0;
    }
    .card:hover {
        box-shadow: none;
        transform: scale(1);
        background-color: var(--bg-hover);
        }
    .card:active {
        box-shadow: none;
        transform: scale(0.98);
        background-color: var(--bg-active);
    }
    .card:last-child {
        border-bottom: none;
    }
    .name {
        line-clamp: none;
    }
}

.name {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    line-clamp: 1;
}

.beginner {
    border-left: 4px solid #4caf50 !important; /* Green for beginner */
}

.intermediate {
    border-left: 4px solid #ff9800 !important; /* Orange for intermediate */
} 

.advanced {
    border-left: 4px solid #f44336 !important; /* Red for advanced */
}

:global(.dark) .beginner-glow:hover {
    box-shadow: 0 0 10px #4caf4f93;
    transition: box-shadow 0.3s;
}
:global(.dark) .intermediate-glow:hover {
    box-shadow: 0 0 10px #ff99008b;
    transition: box-shadow 0.3s;
}

:global(.dark) .advanced-glow:hover {
    box-shadow: 0 0 10px #f4433682;
    transition: box-shadow 0.3s;
}

.field, .frameworks, .languages, .year, .season {
    font-size: 12px;
    color: var(--subtle-font-color);
    line-height: normal;
    text-combine-upright: all;
}

.year {
    margin-left: auto;
}

.description {
    font-size: 12px;
    line-height: normal;
    @apply line-clamp-3;
}




