.theme-button {
  z-index: 600;
  padding: 0 0.75rem;
  border-width: 2px;
  border-radius: 0;
  font-size: 1rem;
  transition: background-color 0s ease, transform 0.25s ease;
  height: 2.5rem;
  
}

.theme-button:active {
  transform: scale(0.85);
  rotate: 10deg;
}
