.component-wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 1rem;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  height: 100% !important;
}

@media (max-width: 750px) {
  .component-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.projects-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow: hidden;
  row-gap: 1rem;
  background-color: transparent;
  border: none;
}

.beginner {
  border-left: 4px solid #4caf50 !important; /* Green for beginner */
}

.intermediate {
  border-left: 4px solid #ff9800 !important; /* Orange for intermediate */
}

.advanced {
  border-left: 4px solid #f44336 !important; /* Red for advanced */
}

.beginner-background {
  background-color: #4caf50 !important; /* Green for beginner */
}

.intermediate-background {
  background-color: #ff9800 !important; /* Orange for intermediate */
}

.advanced-background {
  background-color: #f44336 !important; /* Red for advanced */
}

.scroll-view {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 2rem;
  margin: 0;
  border: var(--border-color) solid 3px;
  background-color: var(--dot-bg);
}

@media (min-width: 1200px) {
  .scroll-view {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
