@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0 0 0 / 20%);
  border-radius: 1rem;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: rgb(249 250 251 / 20%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0 0 0 / 40%);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: rgb(249 250 251 / 40%);
}

::-webkit-scrollbar-track {
  background-color: rgb(0 0 0 / 10%);
  border-radius: 1rem;
}

.dark ::-webkit-scrollbar-track {
  background-color: rgb(255 255 255 / 10%);
}

::-webkit-scrollbar-track:hover {
  background-color: rgb(0 0 0 / 20%);
}

.dark ::-webkit-scrollbar-track:hover {
  background-color: rgb(249 250 251 / 20%);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

:root {
  --dot-bg: #f1f1f1;
  --dot-color: #0c1015;
  --dot-size: 1px;
  --dot-space: 50px;
  --font-color: #1f2328;
  --font-inverse: #f0f6fc;
  --font-white: #f0f6fc;
  --font-black: #1f2328;
  --border-color: rgb(222 222 222);
  --bg-color: #f9fafb;
  --bg-inverse: #0d1117;
  --bg-hover: #ececec;
  --bg-active: #e0e0e0;
  --border-width: 3px;
  --subtle-font-color: #59636e;
  --blue: #0969da;
  --blue-hover: #075ac1;
  --blue-active: #064ca7;
}

.dark {
  --dot-bg: #0c1015;
  --dot-color: #f1f1f1;
  --font-color: #f0f6fc;
  --font-inverse: #1f2328;
  --border-color: #262c36;
  --bg-color: #0d1117;
  --bg-inverse: #f9fafb;
  --bg-hover: #181b20;
  --bg-active: #23272e;
  --subtle-font-color: #9198a1;
  --blue: #418dee;
  --blue-hover: #3477d0;
  --blue-active: #2b65b0;
}

html {
  font-family: var(--font-comfortaa), sans-serif;
  font-size: 16px;
  border-color: var(--border-color);
  color: var(--font-color);
}

html,
body {
  height: 100%;
  max-height: none;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:
    linear-gradient(
      90deg,
      var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
      transparent 1%
    ) center / var(--dot-space) var(--dot-space),
    linear-gradient(
      var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
      transparent 1%
    ) center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

header {
  width: 95%;
  height: 4rem;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  position: relative;
  z-index: 500;
}

@media (min-width: 1010px) {
  header {
    grid-template-columns: 1fr auto 1fr;
  }
}

header > :last-child {
  grid-column: 3;
  justify-self: end;
}

@media (max-width: 700px) {
  header {
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    border-bottom: var(--border-color) solid var(--border-width);
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 1rem;
  }

  header > :last-child {
    grid-column: 2;
    justify-self: center;
  }
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 0.5rem;
  background-color: var(--bg-color);
  border: var(--border-color) solid var(--border-width);
  border-radius: 9999px;
}

main {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  main {
    width: 100%;
    padding: 1rem;
    margin-top: 4rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

div {
  width: 100%;
  padding: 1rem;
}

section,
article,
aside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--bg-color);
  border: var(--border-color) solid var(--border-width);
  border-radius: 1rem;
}

button {
  cursor: pointer;
  background-color: var(--bg-color);
  padding: 8px 12px;
  font-size: 12px;
  border: var(--border-color) solid var(--border-width);
  border-radius: 9999px;
}

button:hover {
  background-color: var(--bg-hover);
}

button:active {
  background-color: var(--bg-active);
}

.button-blue {
  background-color: var(--blue);
  color: var(--font-white);
  border: none;
  font-size: 1rem;
}

.button-blue:hover {
  background-color: var(--blue-hover); /* slightly lighter than var(--dark-bg-color) */
}

.button-blue:active {
  background-color: var(--blue-active); /* even more contrast, same hue */
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: var(--border-color) solid var(--border-width);
  border-radius: 8px;
  background-color: var(--bg-color);
  font-size: 1rem;
  transition: border 0.2s ease;
}

input:focus,
textarea:focus {
  border-color: var(--blue);
  outline: none;
}

p,
a {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
}

@media (max-width: 700px) {
  p,
  a {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}

@media (max-width: 700px) {
  h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

@media (max-width: 700px) {
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

@media(max-width: 700px) {
  h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.markdown-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

.markdown-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 66%;
  height: 100%;
  padding: 1rem;
  overflow: hidden;
}

@media (max-width: 700px) {
  .markdown-body {
    width: 100%;
    padding: 1rem;
  }

  .markdown-wrapper {
    width: 100%;
  }

  .markdown-body h1 {
    font-size: 1.5rem;
  }
}

.markdown-body pre {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-x: auto;
  padding: 1rem;
  background-color: #f3f4f6; /* light gray */
  border-radius: 0.5rem;
}

.dark .markdown-body pre {
  background-color: #161b22; /* dark gray */
}