.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 250px;
    width: 100%;
    padding: 1rem 1rem 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: scale 0.3s, box-shadow 0.3s;
    border: var(--border-color) solid 1px;
    background-color: var(--bg-color);
    padding-right: 1rem; 
}

.card:hover {
    scale: 1.025;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
    .card {
        border: none;
        box-shadow: none;
        border-bottom: var(--border-color) solid 1px;
        border-radius: 0;
    }
    .card:hover {
        box-shadow: none;
        transform: scale(1);
        background-color: var(--bg-hover);
        }
    .card:active {
        box-shadow: none;
        transform: scale(0.98);
        background-color: var(--bg-active);
    }
    .card:last-child {
        border-bottom: none;
    }
}

.name {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
}

:global(.dark) .beginner:hover {
    box-shadow: 0 0 10px #4caf4f93;
    transition: box-shadow 0.3s;
}
:global(.dark) .intermediate:hover {
    box-shadow: 0 0 10px #ff99008b;
    transition: box-shadow 0.3s;
}

:global(.dark) .advanced:hover {
    box-shadow: 0 0 10px #f4433682;
    transition: box-shadow 0.3s;
}

.field, .frameworks, .languages, .year, .season {
    font-size: 12px;
    color: var(--subtle-font-color);
    line-height: normal;
    text-combine-upright: all;
}

.year {
    margin-left: auto;
}

.description {
    font-size: 12px;
    line-height: normal;
    @apply line-clamp-3;
}



